:root {
    --background-color-1: hsl(212, 45%, 89%);
    --background-color-2: hsl(0, 0%, 100%);
    --text-color-1: hsl(218, 44%, 22%);
    --text-color-2: hsl(220, 15%, 55%);
}

* {
    padding: 0px;
    margin: 0px;
}

html {
    background-color: var(--background-color-1);
    font-family: "Outfit", sans-serif;
}

body {
    background-color: var(--background-color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    border-radius: 1.3em;
    max-width: 330px;
    background-color: var(--background-color-2);
    margin: 140px auto 50px;
}

img {
    border-radius: .8em;
    width: 100%;
    max-width: 300px;
    margin: 18px auto 0;
}

.textContainer {
    margin: 0 35px;
    padding: 20px 0 40px;
}

h1 {
    color: var(--text-color-1);
    font-size: 21px;
    font-weight: 700;
    margin: 0 auto 14px;
}

p {
    color: var(--text-color-2);
    font-size: 15px;
    font-weight: 400;
}